@model IEnumerable<BootstrapModalEditDialogDemo.Models.ToDoModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">A MVC Bootstrap Modal Dialog Demo</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <!--TODO Turn this into its own view so it can be reloaded when new items are added-->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th class="text-center">Completed</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--
                    Add a table row for each ToDoItem, 
                    creating a unique id for the row based on the ToDoId
                -->
                @foreach (var toDoModel in Model)
                {
                    <tr id="editor-success-@toDoModel.ToDoId">
                        @Html.Partial("_ToDoDataRow", toDoModel)
                    </tr>
                }
            </tbody>
        </table>
        <button id="add-button">Add ToDo...</button>
    </div>

    <!--Modal Dialog For Editing ToDo Items-->
    <div class="modal fade" id="editor-container" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="editor-content-container"></div>
        </div>
    </div>

</div>


@section scripts{
    <!--Include the app.js JavaScript-->
    <script src="~/Scripts/app.js"></script>
}