@model IEnumerable<BootstrapModalEditDialogDemo.Models.ToDoModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">A MVC Bootstrap Modal Dialog Demo</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th class="text-center">Completed</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            @foreach(var toDoModel in Model)
            {
                <tr id="editor-success-@toDoModel.ToDoId">
                        @Html.Partial("_ToDoDataRow", toDoModel)
                </tr>
            }

        </table>

    </div>
</div>