@model BootstrapModalEditDialogDemo.Models.ToDoModel


<td>@Model.ToDoId</td>
<td>@Model.Description</td>
<td class="text-center"><span @if (Model.Completed) { <text> class="glyphicon glyphicon-ok text-success" </text> }></span></td>
<td><a href="#" class="todo-editor-container" data-id="@Model.ToDoId">Edit</a></td>
<td><a href="#" class="todo-delete-container" data-id="@Model.ToDoId">Delete</a></td>